BOT_TOKEN = "7148408613:AAGWgfs10ShsFxHpAeZfXoYR6CqrJZc0A-M"

# Sudo Users
ADMINS = "5546923802"

# Database Channel ID
CHANNEL_DB = -1002199896280

# MongoDB 
DATABASE_URL = "mongodb+srv://alvin:alvin@cluster0.p11aivg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
DATABASE_NAME = "fsub"

FORCE_SUB_1 = -1002074805545

FORCE_SUB_2 = -1001674283060
